.space {
  margin-top: 13vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-3 {
  margin: 0 !important;
}

.card {
  margin: 15px;
  text-align: center;
  color: black;
}

.card-body {
  padding: 0;
}

.table {
  color: black;
}
