<form>
  <mdb-form-control class="mb-4">
    <input
      mdbInput
      type="text"
      id="descricao"
      name="descricao"
      class="form-control"
      [(ngModel)]="despesa.descricao"
    />
    <label mdbLabel class="form-label" for="descricao">Descrição</label>
  </mdb-form-control>

  <div class="row g-3">
    <div class="col-sm-6">
      <mdb-form-control>
        <input
          mdbInput
          type="text"
          id="valor"
          name="valor"
          class="form-control"
          [(ngModel)]="despesa.valor"
          mask="separator.2"
          separator="."
          (change)="calculaValorParcela()"
        />
        <label mdbLabel class="form-label" for="valor">Valor</label>
      </mdb-form-control>
    </div>

    <div class="col-sm-5">
      <mdb-form-control>
        <input
          mdbInput
          type="date"
          id="data"
          name="data"
          class="form-control"
          [(ngModel)]="despesa.data"
        />
        <label mdbLabel class="form-label" for="data">Data</label>
      </mdb-form-control>
    </div>

    <div class="col-sm">
      <div class="form-check">
        <input
          mdbCheckbox
          class="form-check-input"
          type="checkbox"
          value=""
          id="pago_recebido"
          name="pago_recebido"
          title="Marcar como pago"
          [(ngModel)]="despesa.paga_recebida"
        />
      </div>
    </div>
  </div>

  <div class="mb-4 custom-select">
    <div><label for="categoria">Selecione a categoria:</label></div>
    <div>
      <select
        id="categoria"
        name="categoria"
        [(ngModel)]="despesa.id_categoria"
      >
        <option *ngFor="let categoria of categorias" [value]="categoria.id">
          {{ categoria.nome }}
        </option>
      </select>
    </div>
  </div>

  <div class="row g-2">
    <div class="col-sm">
      <div class="form-check">
        <input
          mdbCheckbox
          class="form-check-input"
          type="checkbox"
          value=""
          id="fixa"
          name="fixa"
          [(ngModel)]="despesa.fixa"
          (change)="mudaValorCheckBox('fixa')"
        />
        <label class="form-check-label" for="fixa"> Despesa fixa mensal </label>
      </div>
    </div>

    <div class="col-sm">
      <div class="form-check">
        <input
          mdbCheckbox
          class="form-check-input"
          type="checkbox"
          value=""
          id="parcelado"
          name="parcelado"
          [(ngModel)]="despesa.parcelada"
          (change)="mudaValorCheckBox('parcelado')"
        />
        <label class="form-check-label" for="parcelado">
          Despesa parcelada
        </label>
      </div>
    </div>
  </div>

  <div *ngIf="despesa.parcelada">
    <div class="row g-3">
      <div class="col-sm"></div>

      <div class="col-sm-7">
        <mdb-form-control>
          <input
            mdbInput
            type="text"
            id="numero_parcelas"
            name="numero_parcelas"
            class="form-control"
            [(ngModel)]="despesa.numero_de_parcelas"
            mask="0*"
            (change)="calculaValorParcela()"
          />
          <label mdbLabel class="form-label" for="numero_parcelas"
            >Número de parcelas</label
          >
        </mdb-form-control>
      </div>

      <div class="col-sm"></div>
    </div>

    <div>
      <h5>Serão lançadas {{despesa.numero_de_parcelas}} parcelas de R$ {{valorParcela}}</h5>
    </div>

  </div>

  <br />

  <button
    data-mdb-ripple-init
    type="button"
    class="btn btn-success btn-block mb-4"
    (click)="cadastrar()"
  >
    Cadastrar
  </button>
</form>
