<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 text-center">
        <img
          src="./assets/images/cifrao.png"
          alt="cifrão logo"
          class="cifraoLogo mb-3"
        />
        <h1>Economiza Já</h1>
      </div>
      <div class="col-lg-2"></div>
      <div class="col-lg-5">
        <div class="card">
          <div class="card-body">
            <h3 class="text-center">Acesse sua conta</h3>
            <form>
              <!-- Email input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="email" id="email" class="form-control" />
                <label class="form-label" for="email">Email</label>
              </div>

              <!-- Password input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="password" id="senha" class="form-control" />
                <label class="form-label" for="senha">Senha</label>
              </div>

              <!-- Submit button -->
              <button
                data-mdb-ripple-init
                type="button"
                class="btn btn-success btn-block mb-4"
              >
                Entrar
              </button>

              <!-- Register -->
              <div class="text-center">
                <p>Não possui conta? <a href="/cadastrar">Cadastre-se</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
