<form>
  <mdb-form-control class="mb-4">
    <input mdbInput type="text" id="nomeCategoria" class="form-control" />
    <label mdbLabel class="form-label" for="nomeCategoria"
      >Nome da categoria</label
    >
  </mdb-form-control>

  <div class="botoes">
    <button style="margin-right: 20px;" data-mdb-ripple-init type="button" class="btn btn-success">
      Cadastrar
    </button>

    <button style="margin-left: 20px;" data-mdb-ripple-init type="button" class="btn btn-danger">
      Excluir
    </button>
  </div>
</form>
