<app-navbar></app-navbar>

<div class="container">
  <div>
    <div class="grupo1">
      <div class="card">
        <div class="card-body saldoGeral">
          <div>
            <h5 style="margin-bottom: 0px" class="card-title">
              Bem-vindo {{ dadosHome.nome }}, Seu saldo geral é de:
            </h5>
            <h5
              *ngIf="dadosHome.saldoGeral == 0"
              style="color: gray; font-size: 26px"
              class="card-title"
            >
              R$ {{ dadosHome.saldoGeral }}
            </h5>
            <h5
              *ngIf="dadosHome.saldoGeral > 0"
              style="color: green; font-size: 26px"
              class="card-title"
            >
              R$ {{ dadosHome.saldoGeral }}
            </h5>
            <h5
              *ngIf="dadosHome.saldoGeral < 0"
              style="color: red; font-size: 26px"
              class="card-title"
            >
              R$ {{ dadosHome.saldoGeral }}
            </h5>
          </div>

          <img
            src="./assets/images/porco.png"
            alt="porco logo"
            class="porcologo"
          />
        </div>
      </div>

      <div class="card">
        <div class="card-body mensal">
          <div class="receitaMensal">
            <h4>Receita Mensal</h4>
            <h4 style="color: green">R$ {{ dadosHome.receitaMensal }}</h4>
          </div>

          <div class="DespesaMensal">
            <h4>Despesa Mensal</h4>
            <h4 style="color: red">R$ {{ dadosHome.despesaMensal }}</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="grupo2">
      <div class="card">
        <div class="card-body">
          <div *ngIf="dadosHome.contasAPagarAtrasadas.length != 0">
            <h4 class="card-title">Contas a pagar atrasadas</h4>
            <div
              class="listagem"
              *ngFor="let item of dadosHome.contasAPagarAtrasadas"
            >
              <div class="dadosListagem">
                <h4>
                  {{ item.descricao }}
                </h4>
                <h4 style="margin-left: 70px">R$ {{ item.valor }}</h4>
              </div>
              <div class="dadosListagem">
                <h5>{{ item.data }}</h5>
                <i
                  (click)="pagarDespagar(item)"
                  class="fas fa-thumbs-down"
                  title="Despesa não paga, clique para pagar"
                  *ngIf="item.paga_recebida == false"
                  style="color: red; cursor: pointer"
                ></i>
              </div>
              <div class="linha"></div>
            </div>
          </div>
          <h4 class="card-title">Contas a pagar</h4>
          <div class="listagem" *ngFor="let item of dadosHome.contasAPagar">
            <div class="dadosListagem">
              <h4>
                {{ item.descricao }}
              </h4>
              <h4 style="margin-left: 70px">R$ {{ item.valor }}</h4>
            </div>
            <div class="dadosListagem">
              <h5>{{ item.data }}</h5>
              <i
                (click)="pagarDespagar(item)"
                class="fas fa-thumbs-down"
                title="Despesa não paga, clique para pagar"
                *ngIf="item.paga_recebida == false"
                style="color: red; cursor: pointer"
              ></i>
            </div>
            <div class="linha"></div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div *ngIf="dadosHome.contasAReceberAtrasadas.length != 0">
            <h4 class="card-title">Contas a receber atrasadas</h4>
            <div
              class="listagem"
              *ngFor="let item of dadosHome.contasAReceberAtrasadas"
            >
              <div class="dadosListagem">
                <h4>
                  {{ item.descricao }}
                </h4>
                <h4 style="margin-left: 70px">R$ {{ item.valor }}</h4>
              </div>
              <div class="dadosListagem">
                <h5>{{ item.data }}</h5>
                <i
                  (click)="pagarDespagar(item)"
                  class="fas fa-thumbs-down"
                  title="Receita não paga, clique para pagar"
                  *ngIf="item.paga_recebida == false"
                  style="color: red; cursor: pointer"
                ></i>
              </div>
              <div class="linha"></div>
            </div>
          </div>
          <h4 class="card-title">Contas a receber</h4>
          <div class="listagem" *ngFor="let item of dadosHome.contasAReceber">
            <div class="dadosListagem">
              <h4>
                {{ item.descricao }}
              </h4>
              <h4 style="margin-left: 70px">R$ {{ item.valor }}</h4>
            </div>
            <div class="dadosListagem">
              <h5>{{ item.data }}</h5>
              <i
                (click)="pagarDespagar(item)"
                class="fas fa-thumbs-down"
                title="Receita não paga, clique para pagar"
                *ngIf="item.paga_recebida == false"
                style="color: red; cursor: pointer"
              ></i>
            </div>
            <div class="linha"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Acesso rápido</h5>
        <div class="acessoRapido">
          <i
            style="color: green; cursor: pointer"
            class="fas fa-circle-chevron-up fa-2x"
            (click)="abrirModalCadastrarReceita()"
          ></i>
          <i
            style="color: red; cursor: pointer"
            class="fas fa-circle-chevron-down fa-2x"
            (click)="abrirModalCadastrarDespesa()"
          ></i>
          <i style="cursor: pointer" class="fas fa-chart-line fa-2x"></i>
        </div>
      </div>
    </div>
    <div class="card">
      <div style="min-height: 233px" class="card-body">
        <h4 class="card-title">Maiores gastos do mês</h4>
        <div
          *ngIf="dadosHome.maioresGastos.length != 0"
          echarts
          [options]="chartOption"
          class="demo-chart"
          style="max-height: 250px"
        ></div>
        <h5 style="color: gray" *ngIf="dadosHome.maioresGastos.length == 0">
          Você não possui nenhuma despesa cadastrada
        </h5>
      </div>
    </div>
  </div>
</div>

<ng-template #modalCadastrarReceita>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Cadastrar receita</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <app-cadastrar-lancamento-receita-form></app-cadastrar-lancamento-receita-form>
  </div>
</ng-template>

<ng-template #modalCadastrarDespesa>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Cadastrar despesa</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <app-cadastrar-lancamento-despesa-form></app-cadastrar-lancamento-despesa-form>
  </div>
</ng-template>

<ng-template #modalEditarLancamento>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Editar lançamento</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <app-editar-lancamento-form></app-editar-lancamento-form>
  </div>
</ng-template>
